body {
    font-family: 'Noto Serif', serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("/Html-Project2/image/kEGp7h.jpg");
    color: #fff537;
    animation: body 1s infinite alternate;
}

@keyframes body {
    10% {
        color: #f2ff37;
    }

    20% {
        color: #129252;
    }

    30% {
        color: #a537ff;
    }

    40% {
        color: #37d7ff;
    }

    50% {
        color: #ff9437;
    }

    60% {
        color: #ff3737;
    }

    70% {
        color: #ff3791;
    }

    80% {
        color: #37ff84;
    }

    90% {
        color: #73ff37;
    }

    100% {
        color: #ff378e;
    }
}


/* container section style style*/
.container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

/* container section style end*/



/*header section start*/
header {
    text-align: center;
}


.logo {
    width: 250px;

}




/* main style start*/

.banner {
    margin-left: 280px;

    width: 1000px;
    height: auto;
}

.fast-para {
    text-align: justify;
    padding: 0px 50px;
}

.iframe {
    padding: 0px 500px;
}

h3 {
    text-align: center;
}

.hyperlink {
    padding: 10px;
}

ul li a {
    text-decoration: none;

    color: #3776FF;
}

ul li {
    padding: 10px;
}

ul li a:hover {
    color: red;
}

.last {
    padding: 10px;

}

footer {
    text-align: center;
}


/* main style end*/